<!DOCTYPE html>
<html>
    <head>
        <title>Test Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/app.css" />
        <script type="text/javascript" src="/assets/js/vendor.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    </head>
    <body ng-app="calendarBooking">
        <div class="maincontent">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="">Paying for yourself?</h2>
                        <div class="booking-date-panel">
                            <div class="container">
                                <div class="row clearfix no-gutters top-border">
                                    <div class="container">
                                        <div class="row">
                                            <h2>Please select an appointment</h2>
                                        </div>
                                        <div ng-controller="CalendarController" ng-init="init()">
                                            <div class="row">
                                                <div class="col-md-4 column">
                                                    <div class="tl-outer">
                                                        <p class="booking-day">Monday</p>
                                                        <p class="booking-long-date">June 14, 2017, at 11:30</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 column">
                                                    <div class="calendar-spinner center-grow" ng-show="showCalendarSpinner">
                                                        <div class="lds-css ng-scope">
                                                            <div style="width:100%;height:100%" class="lds-eclipse">
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='flex-container flex-center left-right-border' ng-show="!showCalendarSpinner">
                                                        <div id='calendar-container' class='flex-container flex-column'>
                                                            
                                                            <div *ngIf='isReserved' class='reserved'>
                                                                {{isReserved}}
                                                            </div>
                                                            <div class="height-20px"></div>
                                                            <div class=' flex-container flex-center-horz '>
                                                                <div class='fa fa-chevron-left ' ng-click='previousMonth() '></div>
                                                                <div class='width-10 '></div>
                                                                <div><h2 class="calendar-title">{{date.format('MMMM ')}} {{date.format('YYYY ')}}</h2></div>
                                                                <div class='width-10 '></div>
                                                                <div class='fa fa-chevron-right ' ng-click='nextMonth() '></div>
                                                            </div>
                                                            <div class='height-20px '></div>
                                                            <div class='flex-container '>
                                                                <div class='calendar-days flex-container flex-center '><strong>S</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>M</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>T</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>W</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>T</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>F</strong></div>
                                                                <div class='calendar-days flex-container flex-center '><strong>S</strong></div>
                                                            </div>
                                                            <div class='flex-container flex-wrap '>
                                                                    <div    ng-repeat="day in daysArray track by $index" 
                                                                            class='calendar-days flex-container flex-center cursor-pointer ' 
                                                                            ng-click='selectDate(day)' 
                                                                            ng-class="{'inactive ': !day, 'selected': day.isSelected, 'today': todayCheck(day)}">
                                                                                {{day.date.format('D')}}
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 column">
                                                    <div class="time-spinner center-grow" ng-show="showTimesSpinner">
                                                        <div class="lds-css ng-scope">
                                                            <div style="width:100%;height:100%" class="lds-eclipse">
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-times" ng-show="!showTimesSpinner">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="5">
                                                                    <h2 class="">Time</h2>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="#" class="">10:00</a></td>
                                                                <td><a href="#" class="btn btn-rounded">10:30</a></td>
                                                                <td><a href="#" class="">11:00</a></td>
                                                                <td><a href="#" class="">11:30</a></td>
                                                                <td><a href="#" class="">12:00</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="">12:30</a></td>
                                                                <td><a href="#" class="">13:00</a></td>
                                                                <td><a href="#" class="">13:30</a></td>
                                                                <td><a href="#" class="">14:00</a></td>
                                                                <td><a href="#" class="">14:30</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row clearfix no-gutters top-border bottom-border">
                                    <div class="container select-appointment-message-panel">
                                        <h2 class="">Please select a appointment time and date above</h2>
                                        <p>This may be covered if you have private insurance. Please check with your insurer before booking.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container appointment-btn-zone">
                                        <div class="col-12 text-center">
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-lg">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </body>
</html>